.fg img {
    border: 10px ridge rgb(174, 202, 47);
    border-radius: 30px;
}

.ea {
    margin-top: 30px;
    background-image: url(app.png);
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
